@tailwind base;
@tailwind components;
@tailwind utilities;



.banner-experience-content {
  /* background-color: red; */
}

.fondoHeader {
  background: rgb(0, 0, 0);
}

.banner-experience {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.15) 30%, rgb(255, 255, 255) 75%);
  /* background-color: green; */
}

/* Estilo para dispositivos pequeños */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .banner-experience>div>div p {
    /* background-color: blue; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Estilo para tablets */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .banner-experience>div>div p {
    /* background-color: blue; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Estilo para pantallas grandes */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}

/* Estilo para pantallas extra anchas */
@media (min-width: 1024px) {
  .fondoHeader {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 30%, rgba(0, 0, 0, 1) 55%);
  }
}

/* Estilo para pantallas extra anchas */
@media (min-width: 1201px) {
  body {
    font-size: 20px;
  }
}